footer {
  margin: 2px auto 0 auto;
  text-align: center;
  color: white;
  background-color: #0367A6;
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;

}
