#accessNav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

header h2{
  margin-top: 8px;
  color: #e43f47;
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
}

#loginReg ul{
  list-style: none;
  margin: 4px;
  display: inline-flex;
  position: relative;
}

a {
  text-decoration: none;
  color: #022f4b
}

a:hover {
  color: white;
}

a:active {
  text-decoration: underline;
  color: #e43f47;
}

.spacer {
  flex: 1 1 auto;

}

