<header class="p-3 text-black">
  <div class="container">
    <div class="d-flex flex-wrap  justify-content-lg-start">


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-danger">Home</a></li>
        <li><a routerLink="/facility" class="nav-link px-2 ">Services</a></li>
        <li><a routerLink="/createResident" class="nav-link px-2 ">Residents</a></li>


      </ul>

      <form class="col-md-auto">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end col-12 col-lg-auto mb-2 mb-lg-0 me-lg-3">
        <button mat-button class="btn btn-outline-danger me-2" routerLink="/login" routerLinkActive="mat-accent">Login</button>
        <button mat-button class="btn btn-outline-danger me-2" routerLink="/register" routerLinkActive="mat-accent">Register</button>
      </div>
    </div>
  </div>
</header>
