<div class="offset-lg-3 p-lg-5 my-5 text-center">
  <div class="col-md-8 order-md-1 border" id="residentForm">
    <mat-card>
      <!--Spinning for laoding-->
      <mat-spinner *ngIf="isLoading"></mat-spinner>

      <form (submit)="onSaveRes(residentForm)" #residentForm="ngForm" *ngIf="!isLoading">
        <br>
        <br>
        <h5 class="mb-3"><strong>New Resident Form</strong></h5>
        <br>

        <div class="example-container">
          <!--First and Last Name-->
          <div class="" id="name">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
              matInput
              type="text"
              name="rfname"
              [ngModel]="resident?.rfname"
              placeholder="Resident First Name"
              #rfname="ngModel"
              require>
              <mat-error *ngIf="rfname.invalid">Please enter a valid name</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
              matInput
              type="text"
              name="rlname"
              [ngModel]="resident?.rlname"
              placeholder="Resident Last Name"
              #rlname="ngModel"
              require>
              <mat-error *ngIf="rlname.invalid">Please enter a valid name</mat-error>
            </mat-form-field>
          </div>

          <!--Enter Resident Id-->
          <!-- <div class="" id="residentID">
            <mat-form-field hintLabel="SAResidentID">
              <mat-label>Resident ID</mat-label>
              <input matInput #input maxlength="9" placeholder="nnnnnnnnn">
              <mat-hint align="end">{{input.value.length}}/9</mat-hint>
            </mat-form-field>
          </div> -->

          <!--Enter DOB-->
          <div class="" id="DOB">
            <mat-form-field>
              <mat-label>M/D/YY</mat-label>
              <input
              matInput
              [matDatepicker]="picker"
              [ngModel]="resident?.rdob | date:'short'"
              type="text"
              #rdob="ngModel"
              name="rdob"
              placeholder="M/D/YY"
              ngModel
              required>
              <mat-hint>Date of Birth</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="rdob.invalid">Please enter a Date of Birth</mat-error>
            </mat-form-field>
          </div>

          <!--Select Sex, Gender, Prononuns-->
          <div class="" id="personalDesc">
            <mat-form-field>
              <mat-label>Sex</mat-label>
              <mat-select
              name="rsex"
              ngModel
              [ngModel]="resident?.rsex"
              required>
                <mat-option *ngFor="let rsex of rsexes" [value]="rsex.rsexValue">{{rsex.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select name="rgender" ngModel [ngModel]="resident?.rgender">
                <mat-option *ngFor="let rgender of rgenders" [value]="rgender.rgenderValue">{{rgender.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Pronouns</mat-label>
              <mat-select name="rpronuns" ngModel [ngModel]="resident?.rpronouns">
                <mat-option *ngFor="let rpronouns of pronouns" [value]="rpronouns.rpronounValue">{{rpronouns.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <!--Write Resident Features-->
          <div class="" id="residentFeatures">
            <mat-form-field>
              <mat-label>Resident Features</mat-label>
              <textarea matInput
              rows="4"
              name= "content"
              [ngModel]="resident?.content"
              placeholder="Resident Features"
              required
              #content="ngModel"></textarea>
              <mat-error *ngIf="content.invalid">Please enter a valid description</mat-error>
            </mat-form-field>
          </div>

          <hr class="mx-5">

          <!--Choose services-->
          <div class="" #Services>
            <h6>Services</h6>
            <mat-checkbox>Snacks</mat-checkbox>
            <mat-checkbox>Dinners</mat-checkbox>
            <mat-checkbox>Laundry</mat-checkbox>
            <mat-checkbox>Snacks</mat-checkbox>
            <mat-checkbox>Hygiene</mat-checkbox>
            <mat-checkbox>Mental Health</mat-checkbox>
          </div>

          <!--Choose disciplinary actions-->
          <div class="" #DA>
            <mat-form-field>
              <mat-label>Disciplinary Actions</mat-label>
              <mat-select name="disAction" ngModel [ngModel]="resident?.disAction">
                <mat-option *ngFor="let disAction of disActions" [value]="disAction.disActionValue">{{disAction.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <br>


          <hr class="mx-5">

          <br>

          <button mat-raised-button type="submit" >SUBMIT</button>

          <br>
          <br>



        </div>

      </form>
    </mat-card>
  </div>

</div>


