
textarea{
  width: 100%;
}

mat-spinner {
  margin: auto;
}

#name mat-form-field{
  margin: 5px;
  width: 40%;
}

#residentID mat-form-field{
  width: 81%;
}

#DOB mat-form-field{
  width: 81%;
}

#personalDesc mat-form-field{
  margin: 30px;

}

#residentFeatures mat-form-field{
  width: 81%;
}

#Services{
  margin-bottom: 44px;
}

hr{
  width: 85%;
}

button {
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
}

#residentForm {
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
}
