mat-spinner {
  margin: auto;
}

.info-text{
  text-align: center;
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

mat-accordion{
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
}

