<h2>List of Residents</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="residents.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let resident of residents">
    <mat-expansion-panel-header>
      {{resident.rfname}} {{resident.rlname}}
    </mat-expansion-panel-header>
    <p>DOB: {{resident.rdob}}<br>
    Sex: {{resident.rsex}}<br>
    Gender: {{resident.rgender}}<br>
    Pronouns: {{resident.rpronouns}}<br>
    Features: {{resident.content}}<br>
    Services: {{resident.task}}<br>
    Disciplinary Action: {{resident.disAction}}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', resident.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(resident.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="residents.length <= 0 && !isLoading">No Submitted Residents</p>
