
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field appearance="outline">
      <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a vaild Email address</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit">Login</button>
  </form>
</mat-card>



<body>

  <section class="jumbotron text-center">
    <div class="container">
      <a href="https://www.freepnglogos.com/pics/salvation-army-logo-hd" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/salvation-army-png-logo/the-salvation-army-png-logo-0.png" width="200" alt="the salvation army png logo" /></a>
      <h1 class="jumbotron-heading">Salvation Army Resident Services Tracker</h1>
      <p class="lead text-muted">Providing a wide range of services to people and families in need all around the world.</p>
      <p>
        <a href="https://www.salvationarmyusa.org/usn/provide-shelter/" class="btn btn-danger my-2">LEARN MORE...</a>

      </p>
    </div>

  </section>

  <div class="col-md-5 p-lg-5 mx-auto my-5 text-center" id="main-section">
      
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Our Mission Statement</h2>
        <p>The Salvation Army, an international movement, is an evangelical part of the universal Christian Church. Its message is based on the Bible.
          Its ministry is motivated by the love of God. Its mission is to preach the gospel of Jesus Christ and to meet human needs in His name without
          discrimination.</p>
      </div>

      <br>
      <br>
  </div>

</body>

