
<div class="main">
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Salvation Army Resident Services Tracker</h1>
    <p class="lead text-muted">Providing a wide range of services to people and families in need all around the world.</p>
    <p>
      <a href="https://www.freepnglogos.com/pics/salvation-army-logo-hd" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/salvation-army-png-logo/the-salvation-army-png-logo-0.png" width="200" alt="the salvation army png logo" /></a>      </p>
  </div>

</section>


<mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <h1>Login</h1>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a vaild Email address</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" *ngIf="!isLoading">Login</button>
  </form>

</mat-card>



<body>


  <div class="col-md-5 p-lg-5 mx-auto my-5 text-center" id="main-section">

      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Our Mission Statement</h2>

        <a href="https://www.freepnglogos.com/pics/pin" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/pin-png/drawing-pin-tack-thumbtack-vector-graphic-pixabay-6.png" width="100" alt="drawing pin tack thumbtack vector graphic pixabay" /></a>
        <p>The Salvation Army, an international movement, is an evangelical part of the universal Christian Church. Its message is based on the Bible.
          Its ministry is motivated by the love of God. Its mission is to preach the gospel of Jesus Christ and to meet human needs in His name without
          discrimination.</p>
        <p><a href="https://www.salvationarmyusa.org/usn/provide-shelter/" class="btn btn-outline-danger my-2">LEARN MORE...</a>
        </p>
      </div>







        <!-- prettier-ignore -->



  </div>
   <!--The div element for the map -->
  <div class="col-md-12 d-flex justify-content-center" id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.2337160247403!2d-92.28567192375873!3d34.74970497290234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d2bb5e2a23e40d%3A0xfe889ecdedf5e071!2sThe%20Salvation%20Army%20Central%20Arkansas%20Area%20Command!5e0!3m2!1sen!2sus!4v1685565888496!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>


</body>
</div>
