mat-card {
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #022f4b;
}

form {
  background-color: white;
  /* top, right , bottom , left  */
  padding: 25px 100px 25px 100px;
}

mat-form-field {
  margin: 15px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

mat-spinner {
  margin: auto;
}

mat-error {
  padding-top: 12px;
  color: rgb(231, 51, 51);
}

form button {
  background-color: rgb(231, 51, 51);
  color: white;

}

.jumbotron {
  align-items: center;
  padding: 65px;


}

.jumbotron-heading{
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
}


body #main-section {
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

#map{
  width: 100%;
  height: 200px;
  border: 0;
  margin-bottom: 20px;
}

.main{
  min-height: 100vh;
}
