<main class="container" id="servicesSetup">
  <div class="rounded text-body-emphasis bg-body-secondary" id="Pageheading">
    <div class="col-md-7 px-0">
      <h1 class="display-4">Services</h1>
      <p class="lead my-4">Manage, Setup, and Edit your services here to make SARST a better experience for you.  <a href="/login" class="text-body-emphasis fw-bold">Listed Residents...</a></p>

    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2">ADMIN</strong>
          <h3 class="mb-3">Add Setup Service</h3>
          <p class="card-text mb-auto">Adding services other than the specific services that are already listed.</p>
          <button class="btn btn-success">ADD</button>
        </div>
        <div class="col-auto d-none d-lg-block" id="addIcon">
          <a href="https://www.freepnglogos.com/pics/plus-icon" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/plus-icon/icon-symbol-plus-vector-graphic-pixabay-34.png" width="200" alt="icon symbol plus vector graphic pixabay" /></a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">ROOT | ADMIN | SERVICE PROVIDER</strong>
          <h3 class="mb-3">Edit Setup Service</h3>
          <p class="mb-auto">Manage service(s) that has been provided to a resident.</p>
          <button class="btn btn-primary">EDIT</button>

        </div>
        <div class="col-auto d-none d-lg-block" id="editIcon">
          <a href="https://www.freepnglogos.com/pics/pencil" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/pencil-png/pencil-clipart-background-ourclipart-9.png" width="200" alt="pencil clipart background ourclipart" /></a>
        </div>
      </div>
    </div>
  </div>



</main>
