<!--form we are using, need to validate this form so that it works, the mat-card is very hard to edit
and make look nice-->
<!--Also mat select is not looking right, when you go to select a user type it pops up at the bottom of the screen
under the footer-->

<body>
  <div class="offset-lg-3 p-lg-5 my-5 text-center">
    <div class="col-md-8 order-md-1 border" id="regForm">

      <mat-card class="bg-light">
        <br>
        <br>
        <div class="row">
          <div class="col-md-3">
            <a href="https://www.freepnglogos.com/pics/salvation-army-logo-hd" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/salvation-army-png-logo/the-salvation-army-png-logo-0.png" width="200" alt="the salvation army png logo" /></a>          </div>
          <div class="col-md-9 my-4">
            <h4 class="mb-3"><strong>Registration</strong></h4>
          </div>
        </div>
        <br>
        <br>
        <br>
        <!--Spinner for loading page-->
        <mat-spinner *ngIf="isLoading"></mat-spinner>


        <!--FORM: registration-->
        <form (submit)="onRegister(registerForm)" #registerForm="ngForm" *ngIf="!isLoading">
        <div class="row" id="username">
          <div class="col-md-4 mb-5">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel" required>
              <mat-error *ngIf="usernameInput.invalid">Please submit a valid username</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4 mb-5" id="password">
            <!--Password Form Field-->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
              <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-2" id="email">
            <!--Email Form Field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input matInput name="email" ngModel type="email" placeholder="1234@example.com" #emailInput="ngModel" required email>
                <mat-error *ngIf="emailInput.invalid">Please enter a vaild Email address</mat-error>
            </mat-form-field>
          </div>
        </div>

          <div class="col-md-4 offset-lg-1 mb-5 " id="usertype">
          <!--Selection of account Types-->
          <label>Choose Account UserType</label>
          <mat-form-field appearance="outline">
            <mat-label>Select an Option</mat-label>
            <mat-select name="accountType" ngModel [ngModel]="defaultQuestion" required>
              <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.accountType">
                {{accountType.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>


        <hr class="mb-4">

        <!--Submission Button-->
        <button class="btn btn-danger btn-lg btn-block" mat-raised-button type="submit">SIGN UP</button>

        <!--SPACING-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        </form>
      </mat-card>

    </div>

  </div>

</body>


