
mat-card {
  align-items: center;

}

#regForm h4 {
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
  font-size: 2rem;
}

/*
#username mat-form-field{

}

#password mat-form-field{

}

#email mat-form-field{

}
*/
#usertype mat-form-field{
  width: 90%;
}

mat-error {
  padding-top: 5px;
  color: rgb(231, 51, 51);
}

button {
  color: white;
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ysabeau', sans-serif;
  margin-bottom: 20px;

}

#regForm {
  border-radius: 5px;

}
